<!DOCTYPE html>
<html>
<head>
    <title>Guessing Game</title>
</head>
<body>

<div id="home-panel">

<h1>Guessing Game</h1>

<p>Name</p>

<input id="name">

<br><br>

<p>Session ID</p>

<input id="session">

<br><br>

<button id="create">
Create Session
</button>

<button id="join">
Join Session
</button>

</div>

<div
id="lobby-panel"
style="display:none;"
>

<h2>

Session

<span id="session-code"></span>

</h2>

<p>

State:

<span id="session-state"></span>

</p>

<p>

Players:

<span id="player-count"></span>

</p>

<p>

Round Ready:

<span id="round-ready">

No

</span>

</p>

<h3>

Players

</h3>

<ul id="players">

</ul>

<div
id="master-panel"
style="display:none;"
>

<h3>

Game Master

</h3>

<input
id="question"
placeholder="Question"
>

<br><br>

<input
id="answer"
placeholder="Answer"
>

<br><br>

<button
id="create-round"
>

Create Round

</button>

</div>

<div
id="waiting-panel"
>

Waiting for game master...

</div>

</div>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/home.js"></script>

</body>
</html>
